body {
  background: whitesmoke;
  /* font-family: "Chakra Petch", sans-serif; */
}

/*


.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

*/
