/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;

}
html {
  /* font-size: 62.5%; */
  /* scroll-behavior: smooth;
}*/
body {
  background: whitesmoke;
  font-family: "Playfair Display", serif;

}  

/*
:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}


::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}


.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

*/
